<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CougList - WSU Marketplace</title>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header class="coug-crimson text-white d-flex justify-content-between align-items-center p-4 flex-wrap">
  <h1 class="m-0">
  <a href="/" style="text-decoration: none; color: inherit;">CougList</a>
</h1>
  <nav>
    <a href="/" class="mx-3 fw-bold text-white">Home</a>
    <a href="about-us.html" class="mx-3 fw-bold text-white">About</a>
  </nav>
  </header>

  
  <div class="hero-container">
  <img src="imgs/campus.jpg" alt="WSU Campus" class="hero-img" />
  <div class="hero-buttons">
    <p class="Qoute">WSU's Very Own Market Place</p>
    <% if (user) { %>
        <a href="/browse" class="landing-btn">Browse</a>
        <a href="/dashboard" class="landing-btn">Dashboard</a>
        <a href="/logout" class="landing-btn">Logout</a>
    <% } else { %>
        <a href="/browse" class="landing-btn">Browse</a>
        <a href="/register.html" class="landing-btn">Register</a>
        <a href="/login.html" class="landing-btn">Login</a>
    <% } %>
  </div>
</div>

  
<footer class="coug-crimson text-white text-center p-3 fixed-bottom">
  &copy; 2025 CougList - Washington State University
</footer>

  <script src="script.js"></script>
</body>
</html>
