body {
  background-color: #f8f8f8;
}

.coug-crimson {
  background-color: #981e32;
}
.add-listing {
  margin-top: 20px;
}

.listing {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.listing h3 {
  margin: 0;
}

.Qoute
{
  padding: 30px 60px;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;   
  word-spacing: 10px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  display: inline-block;
  padding: 30px 60px;
  margin: 30px;
  background-color: #580808;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 10;
  position: relative;
}

.btn:hover {
  background-color: #770b1a;
}

.hero-container {
  position: relative;
  text-align: center;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

div {
  text-align: center;
  margin-bottom: 60px; /* So they don't get covered by the footer */
}
